:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
  }

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-bg-color);
    color: var(--text-color);
    width: 100vw;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.left-card, .projects-name, .item-project-card, .recent-post, .item-recent-post {
width: 100%;
box-shadow: 3px 3px black;
background-color: var(--bg-cards);
border-radius: 20px;
}

.left-card, .projects-name, .container-projects-card, .item-recent-post {
    margin-top: 30px;
    margin-bottom: 30px;
}

.left-menu {
    display: inline-block;
    width: 30vw;
    padding: 0 30px;
}

.right-section {
    display: inline-block;
    position: absolute;
    top: 0;
    width: 70vw;
    padding: 0 30px;
}

.perfil-card {
    padding: 30px 0;
}

.perfil-card > h1 {
    font-size: 20x;
    text-align: center;
}

.perfil-card > p {
    font-size: 15x;
    text-align: center;
}

.photo-perfil {
    width: 180px;
    height: 180px;
    border-radius: 100px;
    margin: 0 auto 25px;
    border: 3px solid chartreuse;
    background-image: url(https://scontent.fgnm3-1.fna.fbcdn.net/v/t1.6435-9/171063548_3945114498938077_853391578501373835_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=730e14&_nc_ohc=CXQW4L25TgcAX-wpoSO&_nc_ht=scontent.fgnm3-1.fna&oh=00_AT9apr4B3tfmJSTULL3vX3X9qM9ivqmWDpePosa6wY-pHw&oe=635A2517);
    background-size: cover;
}

.bio-card, .tech-card {
    padding: 30px;
}
.bio-card > div{
    position: relative;
}

.bio-card > div > img{
    position: relative;
    margin: 10px;
    fill: var(--text-color);
}

.bio-item{
    position: absolute;
    top: 12px;
}

.tech-card > div{
    position: relative;
}

.tech-card > h1{
    font-size: 25px;
    margin-bottom: 15px;
}

.tech-item{
    display: inline-block;
    width: 100px;
    font-size: 12px;
    background-color: var(--bg-techs);
    border-radius: 50px;
    margin: 3px;
    padding: 5px;
    text-align: center;
    color: #150E12;
}

.projects-name, .recent-post {
    position: relative;
    padding: 20px;
}

.view-all-projects {
    position: absolute;
    top: 30px;
    right: 15px;
    float: right;
}

.container-projects-card {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.item-project-card {
    flex-direction: row;
    width: 49%;
    height: 200px;
    padding: 30px;
    
}

.icon-title-card {
    margin-right: 10px;
}

.item-project-card > h2 {
    position: relative;
    display: inline;
    top: -3px;
}

.item-project-card > p {
    position: relative;
    padding: 15px 0 15px 0;
}

.icon-footer-card {
    position: relative;
    bottom: -20px;
}

.number-footer-card {
    position: relative;
    bottom: -13px;
    margin-right: 50px;
}

.techs-card {
    display: flex;
   position: relative;
   flex-direction: row-reverse;
}

.techs-card > p{
    position: relative;
    display: inline;
    margin-left: 10px;
    top: -5px;

}
.item-recent-post {
    position: relative;
    display: inline-block;
    padding: 30px;
}

.photo-author-post {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 30px;
    border: 3px solid chartreuse;
    background-image: url(https://scontent.fgnm3-1.fna.fbcdn.net/v/t1.6435-9/171063548_3945114498938077_853391578501373835_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=730e14&_nc_ohc=CXQW4L25TgcAX-wpoSO&_nc_ht=scontent.fgnm3-1.fna&oh=00_AT9apr4B3tfmJSTULL3vX3X9qM9ivqmWDpePosa6wY-pHw&oe=635A2517);
    background-size: cover;
}

.post-description {
    display: inline-block;
    position: relative;
    margin-left: 15px;
    top: -10px;
}

.post-description > h1{
    font-size: 18px;
}

.post-description > h3{
    font-size: 12px;
}

.description-recent-post {
    margin-top: 15px;
}

.tags-recent-post{
    position: relative;
}